h1{
    color:black;
    /* text-align: center; */
    font-style: bold;
   
}
h2{
    color: yellowgreen;
    text-decoration: underline;
}
h3{
    color: black;
    text-decoration: underline;
}
.sindh{
    font-size: 20px;
    font-style: italic;
    text-align:left;
    color:black;
}
.punjab{
    font-size: 20px;
    font-style: italic;
    text-align:left;
    color:black;
} 
.kpk{
    font-size: 20px;
    font-style: italic;
    text-align:left;
    color:black;    
}
.balochistan{
    font-size: 20px;
    font-style: italic;
    text-align:left;
    color:black;}
.triplogo{
          height: 60px;
          width: 200px;
}
.search{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #ccc;
    top: 0px;
    width: 98%;
}
.navbar + ul{
    position: relative;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    color: black;
    margin: 10px;
    cursor: pointer;
}
li:hover{
    border-bottom-width: 3px;
    border-bottom-color: green;
    border-bottom-style: solid;
}
i{
    margin-left: 5px;
    color: green;
}
li>a{
    text-decoration: none;
    color: black;
}
.triphead{
    height: auto;
    background-color: #faf1ed;
    box-shadow: 0px 2px 1px #ccc;
    height: 80px;
    /* padding-top: 20px; */
    padding-bottom: 160px;
     display: flex; 
     justify-content:space-between;
     padding-left: 10px;
     
}
.head{
    text-align: left;
    color: black;
    text-decoration: none;
}
.tripimg{
    height: 240px;
    width: 800px;
    
}
.selectbutton{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color:black;
    padding-left: 10px;
    color: white;
}
.card_head{
    position:absolute;
    text-align: center;
    color:white;
    text-decoration: none;
    padding-top: 240px;
    padding-left: 50px;

}
.karachi_card{
    padding-left: 30px;
}
.karachi_card_container{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.way_tour{
    text-align: left;
    padding-left: 30px;
}
/* .card{ 
    text-align: justify;
}*/
.card_contain{
    display: flex;
    /* padding-left: 20px; */
    justify-content: space-between; 
    /* flex-wrap: wrap; */
    padding-left: 20px;
}
.karachi_head ,.price{
     padding-right: 25px;
     padding-top: 0px;
    
}
.to-go{
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-top: 10px;   
}
.heart{
    background-color:#fff; 
    position: absolute;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 100%;
    justify-content: horizontal;
    margin-top: 10px;
    margin-left: 240px;
}
.heart>i{
    color: black;
    margin-top: 12px;
    margin-left: 13px;
    font-size: 25px;
}
.card:hover{
    opacity: 0.5;
}